p {
  font-family: Roboto, Arial;
}

a {
  font-family: Roboto, Arial;
}

.bodyj {
  padding: 80px 24px 0px 100px;
  margin: 0;
  height: 10000px;
  background-color: rgba(244, 244, 244, 1);
}