.sidebar {
  position: fixed;
  top: 55px;
  bottom: 0px;
  left: 0px;
  width: 72px;
  z-index: 200;
  background-color: white;
  padding: 5px 0px 0px 0px;
}

.sidebar-link {
  display: flex;
  flex-direction: column;
  height: 76px;
  margin: 0px 0px 5px 0px;
  justify-content: center;
  align-items: center;
}

.sidebar-link:hover {
  background-color: lightgray;
  cursor: pointer;
}

.sidebar-link img {
  height: 24px;
}

.sidebar-link div {
  font-family: Roboto, Arial;
  font-size: 10px;
  margin: 5px 0px 0px 0px;
}